<div class="pt-3 pb-2 border-bottom">
  <h2>Adicionar Música</h2>
</div>
<form [formGroup]="contatoForm" (ngSubmit)="submitForm()" novalidate>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <!-- NOME -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label [ngClass]="{'text-danger': nome?.touched && nome?.invalid}"
          for="nome" ckass="form-label">Nome</label>
          <input
          [ngClass]="{'is-invalid': nome?.touched && nome?.invalid, 'is-valid': nome?.touched && nome?.valid}"
          type="text" id="nome" class="form-control" formControlName="nome" required>
          <div class="invalid-feedback"><sup>*</sup>Nome obrigatório</div>
        </div>
      </div>
      <!-- ano -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': ano?.touched && ano?.invalid}"
          for="ano" class="form-label">Ano</label>
        <input
          [ngClass]="{'is-invalid': ano?.touched && ano?.invalid, 'is-valid': ano?.touched && ano?.valid}"
          type="number"
          formControlName="ano"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>Ano obrigatório</div>
        </div>
      </div>
      <!-- vendidos -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': vendidos?.touched && vendidos?.invalid}"
          for="vendidos" class="form-label">Vendidos:</label>
        <input
          [ngClass]="{'is-invalid': vendidos?.touched && vendidos?.invalid, 'is-valid': vendidos?.touched && vendidos?.valid}"
          type="text"
          formControlName="vendidos"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>Informe apenas números</div>
        </div>
      </div>
      <div class="form-group text-end">
        <button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">Limpar</button>
        <button type="submit" class="btn btn-success mx-2" [disabled]="!contatoForm.valid">
          Adicionar Música</button>
      </div>
    </div>
  </div>
</form>
